/.clang-format
/.clang-format:Zone.Identifier
/.vscode
/Makefile:Zone.Identifier
/application.cpp:Zone.Identifier
/application.h:Zone.Identifier
/build
/data
/dist.cpp:Zone.Identifier
/dist.h:Zone.Identifier
/graph.h:Zone.Identifier
/httplib.h
/httplib.h:Zone.Identifier
/json.hpp
/json.hpp:Zone.Identifier
/main.cpp:Zone.Identifier
/osm_server
/osm_tests
/server.cpp:Zone.Identifier
/suppr.txt
/suppr.txt:Zone.Identifier
/www